[log]
        date = iso
[push]
        default = simple
[pull]
        ff = only
[core]
        quotepath = false
        pager = less -S
#        excludesfile = ~/.gitignore
[diff]
        wordRegex = .
[init]
        defaultBranch = master
[alias]
        glog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset' --abbrev-commit
        st = status --short --branch

[mergetool "kdiff3NoAuto"]
        cmd = kdiff3 --L1 \"$MERGED (Base)\" --L2 \"$MERGED (Local)\" --L3 \"$MERGED (Remote)\" -o \"$MERGED\" \"$BASE\" \"$LOCAL\" \"$REMOTE\"
#[merge]
#        tool = kdiff3NoAuto

[include]
        path = ~/.config/git/.gitconfig.local

# What I put into .gitconfig.local:
#[user]
#        name = Aaaaa Aaaaa
#        email = aa@aa.aa
#[user]
#	signingkey = AAAAAAAAAAAAAAAA
#[http]
#        proxy = http://[host]:[port]
#[https]
#        proxy = https://[host]:[port]

# All my data is controlled by a git annex repository with some portions living natually in their git submodules (e.g. my code).
# Some pieces of configuration of these submodules need to be protected by git to let me move my work across machines smoothly.
# The default place, .git/modules/ is good for git-managed settings only, so to back some settings up I use conditional includes like this:
[includeIf "gitdir:dotfiles"]
        path = "~/Code/.gitconfig/dotfiles"
